.task-card {
  padding: 15px;
  margin: 10px 0;
  border-radius: 6px;
}

.high {
  background: #ffcccc;
  border-left: 6px solid red;
}

.medium {
  background: #fff0b3;
  border-left: 6px solid orange;
}

.low {
  background: #ccffcc;
  border-left: 6px solid green;
}

.auth-container {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 6px;
}

.auth-container h2 {
  text-align: center;
}

.auth-container input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: green;
  text-align: center;
}

.dashboard-container {
  width: 80%;
  margin: auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority-title {
  margin-top: 25px;
}

.high-text { color: red; }
.medium-text { color: orange; }
.low-text { color: green; }

.task-actions button {
  margin-right: 6px;
}

.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
}

.task-form-container {
  width: 400px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
}

.task-form-container h2 {
  text-align: center;
}

.task-form-container input,
.task-form-container textarea,
.task-form-container select {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.task-form-container textarea {
  resize: none;
  height: 80px;
}

.task-form-container button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.secondary-btn {
  background: #ddd;
}

.task-details-container {
  width: 450px;
  margin: 60px auto;
}

.task-details-card {
  background: white;
  padding: 20px;
  border-radius: 6px;
}

.task-details-card p {
  margin: 10px 0;
}

.details-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background: #222;
  color: white;
}

.logo {
  margin: 0;
}

.nav-links a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.nav-links a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.logout-btn {
  background: red;
  border: none;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
}
